<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include('./partials/head', {title:'FINE ART'})%>

<body>

	<!-- header -->
	<%-include('partials/header')%>
	<!-- header -->
	
	<!-- banner -->
	<div class="banner">
		<img src="/images/banner-index.JPEG" alt="Banner">
	</div>
	<!-- banner -->

	<!-- artworks -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Artworks</h2>
			</div>
			
			
			<!-- show all products -->
			<% for (let i= 0; i < artwork.length; i++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					
					<a href="/artworks/<%= i+1 %>" class="title-index">
						
					<figure class="product-box_image">
						<% if (artwork[i].image) { %>
							<img src=" <%= artwork[i].image %> " width="300" height="350" alt="artwork image">
						<%	}else { %>
							<img src="/images/products/default-image.png" width="300" height="350" alt="default image">	
						<% } %> 
					</figure>
						
					<article class="product-box_data title-index">
						<% if (artwork[i].name) { %>
							<h2> <%= artwork[i].name %> </h2>
						<%	}else { %>
							<h2 class="no-name">no name available</h2>
						<% } %>
							
						<% if (artwork[i].description) { %>
							<p class="artwork-description"> <%= artwork[i].description %> </p>
						<%	}else { %>
							<p class="no-description">no description available</p>
						<% } %>

						<p class="artwork-description">Comments: 5 </p>  <!--en realidad quiero comments.length-->
					</article>
					
					</a>

				</section>
			</div>
			<% } %>
			<!-- show all products -->

		</div>
	</div>
	<!-- artworks -->
	
	<!-- most popular -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Most popular</h2>
			</div>
			
			<!-- show the random product -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">

					<a href="/artworks/7>" class="title-index">

						<figure class="product-box_image">
							<% if (randomArtwork.image) { %>
								<img src=" <%= randomArtwork.image %> " width="300" height="350" alt="artwork image">
							<%	}else { %>
								<img src="/images/products/default-image.png" width="300" height="350" alt="artwork image">	
							<% } %> 
						</figure>

						<article class="product-box_data">
							<% if (randomArtwork.name) { %>
								<h2> <%= randomArtwork.name %> </h2>
							<%	}else { %>
								<h2 class="no-name">no name available</h2>
							<% } %>
							
							<% if (randomArtwork.description) { %>
								<p> <%= randomArtwork.description %> </p>
							<%	}else { %>
								<p class="no-description">no description available</p>
							<% } %>

							<p>Comments: 5 </p>
						</article>

					</a>

				</section>
			</div>
			<!-- show the random product -->

			
		
		</div>
	</div>
	<!-- most popular --> 
	
	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- footer -->
</body>	
</html>

