<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include('./partials/head', {title:'FINE ART'})%>

<body>

	<!-- Header -->
	<%-include('partials/header')%>
	<!-- Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="/images/hola.JPEG" alt="Banner">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Artworks</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let i= 0; i < artwork.length; i++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/artworks/<%= i+1 %>">
						<figure class="product-box_image">
							<% if (artwork[i].image) { %>
							<img src=" <%= artwork[i].image %> " width="300" height="350" alt="artwork image">
							<%	}else { %>
							<img src="/images/products/default-image.png" width="300" height="350" alt="artwork image">	
						<% } %> 
						</figure>
						<article class="product-box_data">
							<% if (artwork[i].name) { %>
								<h2> <%= artwork[i].name %> </h2>
							<%	}else { %>
								<h2 class="no-name">no name available</h2>
							<% } %>
							
							<% if (artwork[i].description) { %>
								<p> <%= artwork[i].description %> </p>
							<%	}else { %>
								<p class="no-description">no description available</p>
							<% } %>
							<p>See comments </p> <!--en realidad quiero comments.length-->
						</article>
					</a>
				</section>
			</div>
			<% } %>
		</div>
	</div>
	<!-- /Novedades -->
	
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Most popular</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let i= 0; i < mostPopular.length; i++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="">
						<figure class="product-box_image">
							<img src="<%= mostPopular[i].image %> " alt="artwork image">
						</figure>
						<article class="product-box_data">
							<h2> <%= mostPopular[i].name %>  </h2>
							<p> <%= mostPopular[i].description %> </p>
							<p> 13  comments</p> <!--en realidad quiero comments.length-->
						</article> 
					</a>
				</section>
			</div>
			<% } %>
		
		
		</div>
	</div>
	<!-- /Más comentados -->
	
	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>	
</html>

