<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-include('./partials/head', {title:'DIGITAL ART WORLD'})%>

<body>
	<!-- Header -->
	<%-include('partials/header')%>
	<!-- Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="/images/banner-index.JPEG" alt="Banner">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Newest</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let i= 0; i < artwork.length; i++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/artworks/<%= i+1 %>">
						<figure class="product-box_image">
							<img src=" <%= artwork[i].image %> " width="300" alt="artwork image">
						</figure>
						<article class="product-box_data">
							<h2> <%= artwork[i].name %> </h2>
							<p> <%= artwork[i].description %> </p>
							<p>Comments: <%= artwork.length %> </p> <!--en realidad quiero comments.length-->
						</article>
					</a>
				</section>
			</div>
			<% } %>

		</div>
	</div>
	<!-- /Novedades -->
	
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Most popular</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let i= 0; i < mostCommented.length; i++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="/images/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2> <%= mostCommented[i].name %> </h2>
							<p> <%= mostCommented.description %></p>
							<p> <%= mostCommented.length %></p> <!--en realidad quiero comments.length-->
						</article> 
					</a>
				</section>
			</div>
			<% } %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="/images/products/default-image.png" alt="artwork">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2> 
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
							<p>Comentarios: 12</p>
							<p></p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="../public/images/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2> 
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="../public/images/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Más comentados -->
	
	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>	
</html>

