<!-- head -->
<%-include('./partials/head', {title:'FINE ART'})%>
<!-- head -->

<body>
	<!-- header -->
	<%-include('partials/header')%>
	<!-- header -->
	
	<!-- banner -->
	<div class="banner">
		<img src="/images/banner-index.JPEG" alt="Banner">
	</div>
	<!-- banner -->

	<!-- artworks -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Artworks</h2>
			</div>
			
			
			<!-- show all products -->
			<% for (let i= 0; i < artworks.length; i++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<!-- queremos que el array empieze de la posicion 1 -->
					<a href="/artworks/<%= artworks[i].id %>" class="title-index">
						
					<figure class="product-box_image">
						<% if (artworks[i].image) { %>
							<img src=" <%= artworks[i].image %> " width="300" height="350" alt="artwork image">
						<%	}else { %>
							<img src="/images/products/default-image.png" width="300" height="350" alt="default image">	
						<% } %> 
					</figure>
						
					<article class="product-box_data title-index">
						<% if (artworks[i].name) { %>
							<h2> <%= artworks[i].name %> </h2>
						<%	}else { %>
							<h2 class="no-name">no name available</h2>
						<% } %>
							
						<% if (artworks[i].description) { %>
							<p class="artwork-description"> <%= artworks[i].description %> </p>
						<%	}else { %>
							<p class="no-description">no description available</p>
						<% } %>
						
						<p class="artwork-description">Comments:  <%= artworks[i].comments.length %> </p>  <!--en realidad quiero comments.length-->
					</article>
					
					</a>

				</section>
			</div>
			<% } %>
			<!-- show all products -->

		</div>
	</div>
	<!-- artworks -->
	
	<!-- most popular -->
	<!-- <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Most popular</h2>
			</div> -->

			<!-- show recent products -->
			
			<!-- show recent products -->
			
			
		
		</div>
	</div>
	<!-- most popular --> 
	
	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- footer -->

