<!-- head -->
<%-include('./partials/head', {title:'ARTWORK'})%>
<!-- head -->


<body>
	<!-- header -->
	<%-include('partials/header')%>
	<!-- header -->

	<!-- product detail -->
	<div class="container products-wrapper">
	<div class="d-flex align-items-center"> 
			<% if (artworks.image) { %>
			<h2 class="products-title"> <%= artworks.name %> </h2> 
			<%	}else { %>
				<h2 class="products-title">no name available</h2> 
			<% } %> 
			<p class="product-detail-description">
				<a href="add" class="add-product a">Add</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row product-div">
				<article class="col-12 col-lg-8 product-detail-info">
					<% if (artworks.image) { %>
						<img src= "<%= artworks.image %>" class="product-detail-img">
					<%	}else { %>
						<img src="/images/products/default-image.png" class="product-detail-img" >	
					<% } %> 

					<% if (artworks.description) { %>
						<p class="product-detail-description"><%= artworks.description %> </p>
					<%	}else { %>
						<p class="product-detail-description">no description available</p>	
					<% } %> 
					
				</article>
	<!-- product detail -->

	<!-- comments section -->
				<div class="col-12 col-lg-4">
					<section class="comments">

					<% for (let i= 0; i < comments.length; i++) { %>
						<article>
							<% if (comments[i].profilePicture) { %>
								<img src=" <%= comments[i].profilePicture %> " width="100">
							<%	}else { %>
								<img src="/images/users/default-user.JPEG " width="100">
							<% } %> 
							<div class="data">
								<p class="user">
								<strong> 
									<a href="/users/profile" class="username-black a"> <%= comments[i].username %> : </a> 
								</strong>
								<%= comments[i].comment %> 
								</p>
							</div>
						</article>
						<% } %> 

					</section>

					<form action="/users/login" class="form-login" > 
						<input class="form-input" type="text" value="" placeholder="Add comment">
						<button type="submit" class="btn" > Add comment</button>
					</form>
					<hr>

				</div>
	<!-- comment section -->
			</div>
		</div>
	</div>


	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- footer -->