<!-- head -->
<%-include('./partials/head', {title:'ARTWORK'})%>
<!-- head -->


<body>
	<!-- header -->
	<%-include('partials/header')%>
	<!-- header -->

	<!-- product detail -->
	<div class="container products-wrapper">
	<div class="d-flex align-items-center"> 
			<% if (artworks.name) { %>
			<h2 class="products-title"> <%= artworks.name %> </h2> 
			<%	}else { %>
				<h2 class="products-title">no name available</h2> 
			<% } %> 
			<% if(locals.user) { %>
			<p class="product-detail-description">
				<a href="add" class="add-product a">Add</a>
			</p>
			<% } %> 
			<% if(locals.user && user.id == artworks.user_id) { %>
			<p class="product-detail-description">
			<a class="add-product a" href="/artworks/<%= artworks.id %>/edit">Edit</a>
			</p>
			<br></br>
			<form action="/artworks/<%= artworks.id %>/delete" method="post">
				<input class="product-detail-description" type="submit" value="Delete">
			</form>
			<% } %> 

		</div>
		<div class="product-detail">
			<div class="row product-div">
				<article class="col-12 col-lg-8 product-detail-info">
					<% if (artworks.image) { %>
						<img src= "<%= artworks.image %>" class="product-detail-img">
					<%	}else { %>
						<img src="/images/products/default-image.png" class="product-detail-img" >	
					<% } %> 
					<% if (artworks.creator.username) { %>
						<a href="/users/<%= artworks.creator.id %> "><p class="product-detail-description"><%= artworks.creator.username %> </p></a>
					<%	}else { %>
						<p class="product-detail-description">Unknown creator</p>	
					<% } %> 
					<% if (artworks.description) { %>
						<p class="product-detail-description"><%= artworks.description %> </p>
					<%	}else { %>
						<p class="product-detail-description">no description available</p>	
					<% } %> 
					
				</article>
	<!-- product detail -->

	<!-- comments section -->
				<div class="col-12 col-lg-4">
					<section class="comments">
  
					<% for (let i= 0; i < artworks.comments.length; i++) { %>
						<article>
							<% if (artworks.comments[i].profilepicture) { %>
								<img src=" <%= artworks.comments[i].profilepicture %> " width="100">
							<%  }else { %>
								<img src="/images/users/default-user.JPEG " width="100">
							<% } %>
							<div class="data">
								<p class="user">
								<strong>
									<a href="/users/<%= artworks.comments[i].commenter.id %> " class="username-black a"> @  <%= artworks.comments[i].commenter.username %>: </a>
								</strong>
								<%= artworks.comments[i].comment %>
								</p>
							</div>
						</article>
					<% } %> 
  
					</section>
  
					<% if(locals.user) { %>
					<form action="/artworks/<%= artworks.id %>/comment" method="post" class="form-login" >
						<input name="comment" id="comment" class="form-input" type="text" value="" placeholder="Add comment">
						<button type="submit" class="btn" > Add comment</button>
					</form>
					<hr>
					<%	}else { %>
					<form action="/users/login" class="form-login">
						<input name="comment" id="comment" class="form-input" type="text" value="" placeholder="Add comment">
						<button type="submit" class="btn" > Add comment</button>
					</form>
						<hr>
					<% } %>
  
				</div>
 
	<!-- comment section -->
			</div>
		</div>
	</div>


	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- footer -->