<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-include('./partials/head', {title:'DIGITAL ART WORLD'})%>
<body>
	<!-- Header -->
	<%-include('partials/header')%>
	<!-- Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<h1>Artworks</h1>
		<% for (let i=0; i< artwork.length; i++) { 
		<li>	<%= artwork [i].name %> </li>
		<% } %> 
	</ul> 
	//hay que seguir recorrienfdo el for
	<div class="d-flex align-items-center"> 
			<h2 class="products-title"> <%= artwork.name %> </h2> 
			<p class="product-detail-description">
				<a href="/artworks/add">Buy</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src= "<%= artwork.image %>" width="300" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= artwork.description %> </p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let i= 0; i < comment.length; i++) { %>
						<article>
							<img src=" <%= comment[i].profilePicture %> " width="100" alt="">
							<div class="data">
								<p class="user">
<<<<<<< HEAD
								<strong> <a href="profile.html"> <%= comment[i].username %> </a> </strong>
								<%= comment[i].comment %> 
=======
								<strong> <a href="/profile"> <%= comment[i].username %> </a> </strong>
								<%= comment[i].commentary %> 
>>>>>>> eed8b258e4258c001ee800e4ae05e045ecbe0448
								</p>
							</div>
						</article>
						<% } %> 

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">Add comment</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->
	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>	
</html>
