<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-include('./partials/head', {title:'FINE ART'})%>
<body>
	
	<!-- Header -->
	<%-include('partials/header')%>
	<!-- Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
	<div class="d-flex align-items-center"> 
			<% if (artwork.image) { %>
			<h2 class="products-title"> <%= artwork.name %> </h2> 
			<%	}else { %>
				<h2 class="products-title">no name available</h2> 
			<% } %> 
				<button type="submit" class="button-login"> 
					<a href="add" class="add-product">Add</a>
				 </button>
			
		</div>
		<div class="product-detail">
			<div class="row product-div">
				<article class="col-12 col-lg-8 product-detail-info">
					<% if (artwork.image) { %>
						<img src= "<%= artwork.image %>" class="product-detail-img">
						<%	}else { %>
						<img src="/images/products/default-image.png" class="product-detail-img" >	
					<% } %> 

					<% if (artwork.description) { %>
						<p class="product-detail-description">
							<%= artwork.description %> </p>
						<%	}else { %>
						<p class="product-detail-description">no description available</p>	
					<% } %> 
					
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">

					<% for (let i= 0; i < comment.length; i++) { %>
						<article>
							<img src=" <%= comment[i].profilePicture %> " width="100" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/profile" class="username-black"> <%= comment[i].username %> : </a> </strong>
								<%= comment[i].comment %> 
								</p>
							</div>
						</article>
						<% } %> 

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Add comment">
						<button type="submit" class="buy-now-button">Add comment</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- /footer -->

</body>	
</html>

