<!-- head -->
<%-include('./partials/head', {title:'PROFILE'})%>
<!-- head -->
<body>
	<!-- header -->
	<%-include('partials/header')%>
	<!-- header -->
	<!-- user info -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<% if (user.profilepicture) { %>
					<img src="<%= user.profilepicture  %> " alt="foto de perfil" class="foto-perfil">
				<%	}else { %>
					<img src="/images/users/default-user.JPEG" alt="foto de perfil" class="foto-perfil">
				<% } %> 
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title">
						<a href="/users/profile/edit" class="a"> <%= user.username  %> 
							
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					
				</div>
				<div>
					<ul class="email">
						<li><%= user.email  %> </li>
					</ul>
						
					<ul>
						<li>3 artworks</li>
						<li>2,1M followers</li>
						<li>300 comments</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- user info -->
	<!-- my artworks -->

	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- footer -->
