<!-- head -->
<%-include('./partials/head', {title:'EDIT PROFILE'})%>
<!-- head -->


<body>
	<!-- header -->
	<%-include('partials/header')%>
	<!-- header -->

	
	<div class="container products-wrapper">
		
		<div class="row">

			<div class="col-12">
				<h2 class="products-title">Edit profile</h2>
			</div>
			
			<!-- form -->
			<div class=" col-13"> 
				
				<form method="post" enctype="multipart/form-data" action="/users/me/edit"></form>>

				<div class="registrando"> 
					
				</div>

				<div class="registrando"> 
					<label for="email" class="form-label" > Email address</label>
					<input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" value= "<%= my.email %>">
				</div>

				<div class="registrando"> 
					<label for="username" class="form-label"> Username </label>
					<input type="username" class="form-control" id="username" name="username" value="<%= my.username %>">   
				</div>

				<div class="registrando"> 
					<label for="password" class="form-label"> Password</label>
					<input type="password" class="form-control" id="password" name="password" value="<%= my.password %>" >   
				</div>

				<div class="registrando"> 
					<label for="birthdate" class="form-label"> Birth Date</label>
					<input type="date" class="form-control" id="birthdate" name="birthdate" value="<%= my.birthdate %>">    
				</div>

				<div class="registrando"> 
					<label for="document" class="form-label"> ID </label>
					<input type="number" class="form-control" id="document" name="document" value="<%= my.document %>">
				</div>
					
				<button type="submit" class="btn btn primary"> Save changes </button>
				
				</form>
				<div class="circles">
					<img src="/images/m-05-02.png" alt="image">
				</div>
			</div>
			<!-- form -->

		</div>

	</div>
	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- footer -->