<!-- head -->
<%-include('./partials/head', {title:'PROFILE'})%>
<!-- head -->
<body>
	<!-- header -->
	<%-include('partials/header')%>
	<!-- header -->
	<!-- user info -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<% if (locals.me) { %>
					<% if (me.profilepicture) { %>
						<img src="<%= me.profilepicture  %> " alt="foto de perfil" class="foto-perfil">
					<%	}else { %>
						<img src="/images/users/default-user.JPEG" alt="foto de perfil" class="foto-perfil">
					<% } %> 
				</div>
				<div class="data-container col-6">
					<div class="d-flex align-items-center ">
						<h1 class="main-title">
							<a href="/users/profile/edit" class="a"> <%= me.username  %> 
								
								<i class="fas fa-cog"></i>
							</a>
						</h1>
						
					</div>
					<div>
						<ul class="email">
							<li><%= me.email  %> </li>
						</ul>
							
						<ul>
							<li>  me.artworks.length %> artworks</li>
							<li>2,1M followers</li>
							<li>  me.comments.length %> comments </li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- user info -->
	
		<!-- my artworks -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">My artworks</h2>
				</div>
	  
				<% for (let i= 0; i < me.artworks.length; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
	  
						<a href="/artworks/<%= me.artworks[i].id %>">
	  
							<figure class="product-box_image">
								<% if (me.artworks[i].image) { %>
									<img src=" <%= me.artworks[i].image %> " width="300" height="350" alt="artwork image">
								<%  }else { %>
									<img src="/images/products/default-image.png" width="300" height="350" alt="artwork image">
								<% } %>
							</figure>
	  
							<article class="product-box_data">
								<% if (me.artworks[i].name) { %>
									<h2> <%= me.artworks[i].name %> </h2>
								<%  }else { %>
									<h2 class="no-name">no name available</h2>
								<% } %>
								   
								<% if (me.artworks[i].description) { %>
									<p> <%= me.artworks[i].description %> </p>
								<%  }else { %>
									<p class="no-description">no description available</p>
								<% } %>
	  
								<p>Comments: <%= me.artworks[i].comments.length %> </p> <!--en realidad quiero comments.length-->
								</article>
						</a>
	  
					</section>
				</div>
				<% } %>
	  
			</div>
		</div> 
		<!-- my artworks -->

				<%	}else { %>

					<% if (user.profilepicture) { %>
						<img src="<%= user.profilepicture  %> " alt="foto de perfil" class="foto-perfil">
					<%	}else { %>
						<img src="/images/users/default-user.JPEG" alt="foto de perfil" class="foto-perfil">
					<% } %> 
				</div>
				<div class="data-container col-6">
					<div class="d-flex align-items-center ">
						<h1 class="main-title">
							<a href="/users/profile/edit" class="a"> <%= user.username  %> 
								
								<i class="fas fa-cog"></i>
							</a>
						</h1>
						
					</div>
					<div>
						<ul class="email">
							<li><%= user.email  %> </li>
						</ul>
							
						<ul>
							<li> <%= user.artworks.length %> artworks</li>
							<li>2,1M followers</li>
							<li> <%= user.comments.length %> comments </li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- user info -->
	
		<!-- my artworks -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">My artworks</h2>
				</div>
	  
				<% for (let i= 0; i < user.artworks.length; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
	  
						<a href="/artworks/<%= user.artworks[i].id %>">
	  
							<figure class="product-box_image">
								<% if (user.artworks[i].image) { %>
									<img src=" <%= user.artworks[i].image %> " width="300" height="350" alt="artwork image">
								<%  }else { %>
									<img src="/images/products/default-image.png" width="300" height="350" alt="artwork image">
								<% } %>
							</figure>
	  
							<article class="product-box_data">
								<% if (user.artworks[i].name) { %>
									<h2> <%= user.artworks[i].name %> </h2>
								<%  }else { %>
									<h2 class="no-name">no name available</h2>
								<% } %>
								   
								<% if (user.artworks[i].description) { %>
									<p> <%= user.artworks[i].description %> </p>
								<%  }else { %>
									<p class="no-description">no description available</p>
								<% } %>
	  
								<p>Comments: <%= user.artworks[i].comments.length %> </p> <!--en realidad quiero comments.length-->
								</article>
						</a>
	  
					</section>
				</div>
				<% } %>
	  
			</div>
		</div> 
		<!-- my artworks -->

				<% } %> 


				

	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- footer -->
